<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Alternative Layout</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <header>
        
    </header>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>